.header{
  background: var(--gray-800);
  display: flex;
  justify-content: center;
  padding: 1.25rem 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header svg {
  color: var(--blue-500);
}

.header p {
  font-size: 2rem;
  font-weight: bold;
}